* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    color: #eeeeee;
}

html {
    background-color: #222831;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
    height: auto;
}

.sideBar {
    height: 100vh;
    width: 60px;
    display: flex;
    background-color: #222831;
    position: fixed;
    overflow: hidden;
    border-right: 1px #c3c1c1 solid;
    z-index: 1000;
    transition: 0.5s;
}

.sideBar .image {
    width: 50px;
    border: 2px #c3c1c1 solid;
    box-shadow: 0 0 5px #000, 0 0 10px #000;
    cursor: pointer;
    margin-bottom: 12px;
}

.sideBar .sideBarElement {
    background: none;
    font-size: x-large;
    margin: 7px;
    padding: 7px;
    cursor: pointer;
    font-family: sans-serif;

}

.sideBar .toggle a ion-icon {
    min-width: 100px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sideBar .sideBarElement a {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

.sideBar .sideBarElement p {
    font-weight: 500;
    font-size: 22px;
    display: none;

}

.sideBar .sideBarElement a :hover {
    color: #fdb60f;
}

.sideBar.active {
    width: 200px;
}

.sideBar.active .sideBarElement {
    border: 1px #eeeeee solid;
    min-width: 170px;
    width: 95%;
    border-radius: 5px;
}

.sideBar.active .sideBarElement :hover {
    color: #fdb60f;
    border-color: #fdb60f;
}

.sideBar.active .sideBarElement a {
    text-decoration: none;
}

.sideBar.active .sideBarElement p {
    display: flex;
    justify-content: center;
    margin: 0;
}

.sideBar.active .menu a ion-icon {
    display: none;
}

main {
    padding-left: 60px;
    width: 100%;
    background-color: #222831;

}

header {
    background-color: #393E46;
    display: flex;
}

header a {
    font-weight: 800;
    color: #b38008ca;
    font-family: sans-serif;
    font-size: xx-large;
    text-decoration: none;
}

header a:hover {
    color: #fdb60f;
}

header nav {
    flex: 1;
}

header nav ul {
    display: flex;
    flex-direction: row-reverse;
    padding: 0;
}

header nav ul li {
    margin: 10px 12px 0 12px;
}

header ul li a {
    font-size: large;
}

header ul li a:hover {
    text-decoration: overline;
    text-shadow: 0 0 50px #fdb60f;
}

#about {
    padding: 12px 0;
    position: relative;
    background-image: linear-gradient(#000, #222831, #000);
    display: flex;
    z-index: 0;
}

#about div {
    margin: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#about .image img {
    max-height: 300px;
    padding: 0;
    border-radius: 50%;
    border: 3px #222831 solid;
    box-shadow: 0 0 40px #000;
}

#about .text {
    background-color: #393E46;
    flex: 1;
    display: flex;
    margin: 12px;
    font-family: courier;
    box-shadow: 0 0 20px #000;
}

#about span h3 {
    white-space: nowrap;
}

#about .job {
    color: #fdb60f;
    text-shadow: 0 0 10px;
}

@keyframes blink {
    0% {
        opacity: 0;
    }

    50% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

#about .verline {
    content: " ";
    background-color: #e09f06;
    box-shadow: 0 0 10px #fdb60f;
    align-items: center;
    justify-content: center;
    width: 2px;
    height: 25px;
    transform: translateY(-12px);
    animation: blink 1s steps(1, start) infinite;
}

#skills div {
    background-color: #222831;
    width: 50%;
    border-radius: 5px;
    box-shadow: 0 0 2px 2px#222831, 0 0 10px 5px #393E46;

}

#skills div:nth-child(1) ul {
    width: 100%;
}
#skills div:nth-child(1) ul li {
    display: flex;
    justify-content: center;
    border-radius: 12px;
    width: 170px;
    padding: 3px 12px;
    background-color: #1d955d;
    border: #167046 1px solid;
    cursor: pointer;

}

#skills div:nth-child(1) ul li:hover {
    background-color: #198754;
}

#skills div:nth-child(2) ul {
    padding: 0;
    display: flex;
    height: 100%;
    width: 100%;
    justify-content: space-evenly;
    align-items: center;
    overflow: hidden;
}

#skills div:nth-child(2) ul li {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#skills div:nth-child(2) ul li h5 {
    margin: 0;
    font-family: sans-serif;
    font-weight: 600;
    opacity: 0;
    transform: translateY(-14px);
    transition: opacity 0.5s ease-in-out,transform 0.5s;
}

#skills div:nth-child(2) ul li img {
    height: 3rem;
    transform: translateY(-25%);
    transition: height 0.5s, transform 0.5s;
}

#skills div:nth-child(2) ul li.active h5 {
    opacity: 1;
    transform: translateY(0px);

}

#skills div:nth-child(2) ul li.active img {
    height: 5rem;
    transform: translateY(0);
}
#project {
    background-image: linear-gradient(#000, #222831, #000);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#project h2 {
    color: #eeeeee;
}
#project ul li {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 3rem;
}
#project .card {
    max-width: 400px;
    background-color: #222831;
    box-shadow: 0 0 40px #000, 0 0 20px #000;
    border: #000 2px solid;
}
#project .card h4 {
    margin-bottom: 0.5rem;
}
#project .card img {
    box-shadow: 0 0 7px #7c7d80;
}
#contact form {
    width: 75%;
    min-width: 350px;
}
#contact div input:not(.form-check-input){
    background-color: rgba(255, 255, 255, 0.5);
    border: 1px solid rgba(255, 255, 255, 0.7);
}
#contact div input:not(.form-check-input):focus{
    background-color: #fff;
}
#contact div textarea{
    background-color: rgba(255, 255, 255, 0.5);
    border: 1px solid rgba(255, 255, 255, 0.7);
}
#contact div textarea:focus{
    background-color: #fff;
}
footer div section a  {
    height: 40px;
    width: 40px;
}

@media screen and (max-width: 992px) {
    #skills {
        display: flex;
        flex-direction: column;
        
    }
    #skills div {
        width: 100%;
        height: 120px;
    }
    #skills div:first-child {
        margin-bottom: 16px;
    }
}